h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    text-align: center;
}
.educationbox{
    width: 55%;
    margin-left: 34%;
    height: auto;
    padding-bottom:20px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
